*{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  background-color: #f6f6f6;
  min-height: 100vh;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
.page{
  height: 100vh;
  flex: 0 0 100%;
  padding: 10px;
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
}
.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow: scroll;
}
.p10{
  padding: 10px;
}
@keyframes slidein {
  from {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0;
    margin-top: 0;
    opacity: 1;
  }
}
.box{
  opacity: 0;
  user-select: none;
  -moz-user-select: none;
}
.an-slidein{
  animation: slidein .5s linear forwards;
}
.white{
  color: white;
}
.group{
  color: white;
  font-size: 1.2em;
}
i{
  font-size: .9em;
  text-decoration: underline;
}
.data{
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  padding: 0 5px;
}
